version: '3.8'

services:
  web:
    build: .
    command: gunicorn online_menu.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=onlinemenu
      - POSTGRES_USER=onlinemenu
      - POSTGRES_PASSWORD=onlinemenu
    ports:
      - "5432:5432"

volumes:
  postgres_data:

